@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.slider-container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  height: calc(100vh - 160px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.featured-works-slider {
  height: 100%;
  position: relative;
}

.featured-works-slider .slick-track {
  display: flex !important;
  gap: 1rem;
}

.featured-works-slider .slick-slide {
  height: inherit !important;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.featured-works-slider .slick-slide > div {
  height: 100%;
}

.featured-works-slider .slick-active {
  opacity: 1;
}

.custom-dots {
  position: absolute !important;
  top: -20px !important;
  right: 0 !important;
  display: flex !important;
  gap: 8px;
  padding: 0;
  margin: 0;
  list-style: none;
  z-index: 10;
  width: auto !important;
}

.custom-dot {
  position: relative !important;
  width: 8px;
  height: 8px;
  background-color: rgba(109, 110, 114, 0.3);
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.87, 0, 0.13, 1) !important;
  cursor: pointer;
}

.slick-active .custom-dot {
  background-color: #6d6e72;
  width: 24px;
  border-radius: 4px;
}

@media (max-width: 1180px) {
  .slider-container {
    /* height: 60vh; */
  }

  .featured-works-slider .slick-track {
    gap: 0.5rem;
  }

  .custom-dots {
    justify-content: flex-end !important;
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .slider-container {
    height: 58vh;
  }

  .featured-works-slider .slick-track {
    gap: 0.5rem;
  }

  .custom-dots {
    justify-content: flex-end !important;
    padding-right: 8px;
  }
}
